.cart-icon{
    width: 28px;
    height: 28px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../js//UI//images//bag.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    .item-count{
        position: absolute;
        /* left: 40%; */
        top: 10px;
        text-align: center;
        font-size: 11px;
    }
    &.hidden{
        background-size: cover;
        background-image: url('../../js//UI//images//catering.svg');
        .item-count{
            display: none;
        }
    }
}