.header{
    position: fixed;
    width: 100%;
    border-top: 2px solid rgb(255, 136, 0);
    background-color: white;
    box-shadow: rgba(68, 68, 68, 0.494) 0px 1px 10px;
    font-size: 12px;
    z-index: 9999;
    .header-wrapper{
        padding: 11px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1185px;
        margin-right: auto;
        margin-left: auto;
        @media (max-width: 1200px) {
            max-width: calc(100% - 140px);
        }
        @media (max-width: 1024px) {
            max-width: calc(100% - 112px);
        }
        @media (max-width: 767px) {
            max-width: calc(100% - 40px);
        }
        .img-holder {
            width: 28px;
        }
    }
}