.info-page {
    display: flex;
    flex-wrap: wrap;
    margin: 30pt auto 170pt;
    .img {
        position: relative;
        margin-top: 10pt;
        flex-basis: 500px;
        width: 55%;
        border-radius: 50%;
    }
    .info {
        padding: 100pt 0 0 70pt;
        flex-basis: 500px;
        text-align: left;
        color: #4E342E;
        font-family: 'Mirza', cursive;
        .title {
            font-size: 6rem;
            font-weight: bold;
        }
        .expand {
            opacity: 50%;
            text-align: right;
        }
        .expand:hover {
            cursor: pointer;
        }
    }
    
    .order {
        margin-top: 50pt;
        flex-basis: 1200px;
        text-align: center;
        .order-link {
            border-width: 3px;
            border-color: #FF8F00;
        }
    }

    @media (max-width: 1600px) {
        margin-top: 10pt;
        .img {
            padding-top: 0;
            width: 50%;
            height: 50%;
        }
        .info {
            .title {
                font-size: 5rem;
            }
        }
        .order {
            margin-top: 10pt;
            margin-bottom: 170pt;
        }
    }

    @media (max-width: 1200px) {
        .img {
            width: 45%;
            height: 45%;
            flex-basis: 400px;
        }
        .info {
            flex-basis: 400px;
            padding-top: 25pt;
            .title {
                font-size: 3.5rem;
            }
        }
        .order {
            margin-top: 10pt;
        }
    }

    @media (max-width: 800px) {
        
        display: inline;
        .img {
            width: 50%;
            margin: 5% auto 0;
            display: block;
        }
        .title {
            font-size: 5rem;
        }
        .order {
            margin-top: 30pt;
        }
    }

    @media (max-width: 500px) {
        .img {
            width: 100%;
        }
        .info {
            padding: 0;;
            .title {
                font-size: 2.5rem;
            }
            .desc {
                visibility: unset;
            }
        }
        .order {
            margin-top: 0;
        }
    }
}
html
{
        scroll-behavior: smooth;
}