.menu {
    margin-bottom: 20px;
    .menu-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        box-shadow: 0 1.30263px 5.21053px rgba(0, 0, 0, 0.1);
        border: 1.30263px solid #DEE2EE;
        border-radius: 5.21053px;
        background-color: white;
        padding: 5px 3px;
        &.highlighted{
            border: 1.30263px solid #ff0000;
            .menu-quantity {
                color: #ff0000;
                font-weight: 700;
            }
        }
        &.disabled{
            opacity: 0.5;
        }
        .image-wrapper {
            max-width: 150px;
            height: 150px;
            display: flex;
            align-items: center;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;
            .image {
                width: 125%;
                margin: auto;
            }
        }
        .menu-name {
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #404040;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            min-height: 44px;
            -webkit-line-clamp: 2;
            margin-bottom: 3px;
            overflow: hidden;
            margin-bottom: 3px;
        }
        .menu-price{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 3px;
        }
        .buy-menu{
            margin-bottom: 3px;
            width: 100%;
            max-width: 200px;
        }
        .menu-quantity{
            opacity: 0.6;
            font-size: 13px;
        }
        :last-child {
            margin-right: 0;
        }
    }
}
