.menu {
    margin-bottom: 20px;
    .menu-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        box-shadow: 0 1.30263px 5.21053px rgba(0, 0, 0, 0.1);
        border: 1.30263px solid #DEE2EE;
        border-radius: 5.21053px;
        background-color: white;
        padding: 5px 3px;
        .image-wrapper {
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 3px;
            .image {
                width: 125%;
                margin: auto;
            }
        }
        .menu-name {
            text-align: center;
            font-weight: bold;
            font-size: 13px;
            line-height: 15px;
            color: #404040;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            min-height: 30px;
            -webkit-line-clamp: 2;
            margin-bottom: 3px;
            overflow: hidden;
            margin-bottom: 3px;
        }
        .menu-price{
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 3px;
        }
        .menu-quantity{
            opacity: 0.5;
            font-size: 12px;
        }
        :last-child {
            margin-right: 0;
        }
    }
}
